input {
  font-size: 46px !important;
  margin-top: 40px;
  padding: 10px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 24px;
  text-align: center;
  font-family: "beacon";
}

hr {
  width: 200px;
  margin: auto;
  height: 3px;
  /* background: linear-gradient(to top, #c9d6ff, #e2e2e2); */
  background: #fe0;
  border: none;
}
