@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Alex+Brush");
input {
  font-size: 32px !important;
  margin-top: 40px;
  padding: 10px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 24px;
  text-align: center;
  font-family: 'Alex Brush', cursive;
      background-color: #f1f1f191;
      font-weight: bold;
    color: #000000d4;
}

@media  screen and (max-width:500px){

input{
  width:190px;
  height:16px;
  font-size: 22px;
}



}
@media  screen and (max-width:700px){

input{
  width:190px;
  height:25px;
  font-size: 17px;
}



}
